/***
 * Application : {{ APP_NAME }}
 * Author : @{{ AUTHOR_NAME }}
 * License : {{ APP_LICENSE }}
 * Copyright owner : {{ COPYRIGHT_OWNER }}
 * Version : {{ APP_VERSION }}
 * Created on : {{ APP_CREATE_DATE }} {{ APP_CREATE_TIME }}
 ***/

window.addEventListener('DOMContentLoaded', () => {
    console.log('{{ APP_NAME }} was loaded');
    // TODO: write something below

});