<?xml version="1.1" encoding="UTF-8" standalone="yes"?>
<Configuration>
    <AppMethod method="single-site" />
    <SingleSiteApp reference="{{ APP_NAME }}" appdir="{{ APP_DIR }}">
        <Server host="{{ APP_HOST }}" port="{{ APP_PORT }}" />
        <CommandLineArgs>
            <Argument>{{ ENTRY_POINT }}</Argument>
        </CommandLineArgs>
        <Instances auto="true" init-load="5" increment-by="1" thresold="10">
            {% for instance in instances %}
            <Instance host="{{ instance[0] }}" port="{{ instance[1] }}" active="true"/>
            {% endfor %}
        </Instances>
    </SingleSiteApp>
</Configuration>
