/***
 * Application : {{ APP_NAME }}
 * Author : @{{ AUTHOR_NAME }}
 * License : {{ APP_LICENSE }}
 * Copyright owner : {{ COPYRIGHT_OWNER }}
 * Version : {{ APP_VERSION }}
 * Created on : {{ APP_CREATE_DATE }} {{ APP_CREATE_TIME }}
 ***/

 html, body {
    width : 100%;
    height: 100%;
}

div.root {
    width: 100%;
    height: 100%;
}